<!DOCTYPE html>

<script>
    
</script>

<html>
    <!-- Still the validation check -->
    <form action="" method="POST">
        {% csrf_token %}
        <label class="form-label mt-3" name="mark">Marque</label>
        <select class="form-select" id="mark" aria-label="Default select example">
            <option selected>Selectionner une marque</option>
            <option title="alfa-romeo" data-id="5" value="alfa-rameo">ALFA-ROMEO</option>
            <option title="audi" data-id="9" value="audi">AUDI</option>
            <option title="bmw" data-id="14" value="bmw">BMW</option>
            <option title="chevrolet" data-id="24" value="chevrolet">CHEVROLET</option>
            <!-- FORM HERE -->
            <option title="citroen" data-id="26" value="citroen">CITROEN</option>
            <option title="dacia" data-id="27" value="dacia">DACIA</option>
            <option title="fiat" data-id="34" value="fiat">FIAT</option>
            <option title="ford" data-id="35" value="ford">FORD</option>
            <option title="honda" data-id="42" value="honda">HONDA</option>
            <option title="hyundai" data-id="43" value="hyundai">HYUNDAI</option>
            <option title="jaguar" data-id="47" value="jaguar">JAGUAR</option>
            <option title="jeep" data-id="48" value="jeep">JEEP</option>
            <option title="kia" data-id="50" value="kia">KIA</option>
            <option title="land-rover" data-id="56" value="land-rover">LAND-ROVER</option>
            <option title="maserati" data-id="64" value="maserati">MASERATI</option>
            <option title="mazda" data-id="67" value="mazda">MAZDA</option>
            <option title="mercedes" data-id="69" value="mercedes">MERCEDES</option>
            <option title="mitsubishi" data-id="73" value="mitsubishi">MITSUBISHI</option>
            <option title="nissan" data-id="75" value="nissan">NISSAN</option>
            <option title="opel" data-id="76" value="opel">OPEL</option>
            <option title="peugeot" data-id="77" value="peugeot">PEUGEOT</option>
            <option title="porsche" data-id="81" value="porsche">PORSCHE</option>
            <option title="renault" data-id="83" value="renault">RENAULT</option>
            <option title="seat" data-id="88" value="seat">SEAT</option>
            <option title="skoda" data-id="91" value="skoda">SKODA</option>
            <option title="suzuki" data-id="96" value="suzuki">SUZUKI</option>
            <option title="toyota" data-id="99" value="toyota">TOYOTA</option>
            <option title="volkswagen" data-id="103" value="volkswagen">VOLKSWAGEN</option>
            <option title="volvo" data-id="104" value="volvo">VOLVO</option>
        </select>

        <label class="form-label mt-3" name="model">Modèle</label>
        <select class="form-select" aria-label="Default select example" id="model" online='getModels()'>
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <label class="form-label mt-3" name="year">Année</label>
        <select class=" form-select" id="year" aria-label="Default select example">
            <option selected>Année depuis</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
            <option value="1984">1984</option>
            <option value="1983">1983</option>
            <option value="1982">1982</option>
            <option value="1981">1981</option>
            <option value="1980">1980</option>
            <option value="1979">1979</option>
            <option value="1978">1978</option>
            <option value="1977">1977</option>
            <option value="1976">1976</option>
            <option value="1975">1975</option>
            <option value="1974">1974</option>
            <option value="1973">1973</option>
            <option value="1972">1972</option>
            <option value="1971">1971</option>
            <option value="1970">1970</option>
            <option value="1969">1969</option>
            <option value="1968">1968</option>
            <option value="1967">1967</option>
            <option value="1966">1966</option>
            <option value="1965">1965</option>
            <option value="1964">1964</option>
            <option value="1963">1963</option>
            <option value="1962">1962</option>
            <option value="1961">1961</option>
            <option value="1960">1960</option>
            <option value="1959">1959</option>
            <option value="1958">1958</option>
            <option value="1957">1957</option>
            <option value="1956">1956</option>
            <option value="1955">1955</option>
            <option value="1954">1954</option>
            <option value="1953">1953</option>
            <option value="1952">1952</option>
            <option value="1951">1951</option>
            <option value="1950">1950</option>
            <option value="1949">1949</option>
            <option value="1948">1948</option>
            <option value="1947">1947</option>
            <option value="1946">1946</option>
            <option value="1945">1945</option>
            <option value="1944">1944</option>
            <option value="1943">1943</option>
            <option value="1942">1942</option>
            <option value="1941">1941</option>
            <option value="1940">1940</option>
        </select>
    
        <div class=" mt-5 mb-3">
            <label class="form-label" name="km">Kilométrage</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="10 000 ~ Km minimum"><br>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="100 000 ~ Km Maximum">
        </div>

        <label class="form-label" name="city">Ville</label>
        <select class="form-select mb-5" aria-label="Default select example">
            <option selected value="0">Toutes les villes</option>
            <option value="1">Agadir</option>
            <option value="2">Al Hoceima</option>
            <option value="3">Beni Mellal</option>
            <option value="4">Casablanca</option>
            <option value="5">Dakhla</option>
            <option value="6">El Jadida</option>
            <option value="7">Essaouira</option>
            <option value="8">Fes</option>
            <option value="9">Kenitra</option>
            <option value="10">Khouribga</option>
            <option value="11">Laayoune</option>
            <option value="12">Marrakech</option>
            <option value="13">Meknes</option>
            <option value="14">Mohammadia</option>
            <option value="15">Oujda</option>
            <option value="16">Rabat</option>
            <option value="17">Salé</option>
            <option value="18">Tanger</option>
            <option value="19">Tétouan</option>
        </select>

        {% comment %} <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example text area</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</html>

